 @use 'base/variables' as v;
 
 .alertas {
    padding: 1 rem;
    color: aliceblue;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;
    

    &.error {
        background-color: darkred;
    }

    &.exito {
        background-color: darkgreen;
    }
 }