

.acciones {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

    a{
        color:aliceblue;
        display: block;
        margin-bottom: 3rem;
        text-align: center;

    }
}